[Desktop Entry]
Type=Application
Name=sdl-life
GenericName=life
Comment=This is a graphical implementation of Conway's game of life
Keywords=life;game;conway;cell;cellular automaton;zero-player;
Terminal=false
Icon=/usr/local/share/sdl-life/logo.png
Exec=sdl-life
